<h1>Login</h1>

<% if logged_in? %>
  <%= button_to 'Log Out', logout_path %>
<% else %>
  <%= form_tag '/login' do %>
    Email: <%= text_field_tag :email %>
    Password: <%= password_field_tag :password %>
    <%= submit_tag "Sign In" %>
  <% end %><br />
<% end %><br />
Or

<%= link_to 'Sign Up!', signup_path %>
