<%= button_to 'Log Out', logout_path %><br />
<div id="create">
  <form id="new-link">
    <label>URL:
      <input id="link-url">
    </label>
    <label>Title:
      <input id="link-title">
    </label>
    <input type="submit" value="Add Link">
  </form>
</div>
<div id="edit">
</div>

<input id="my-input" type="text" placeholder="Seach here">
<div id="links-list"></div>
<h2>Hot Reads!</h2>
<ol id="hot-reads">
<% @hot_links.each do |read| %>
    <li class='hot-read'>
        <p><a class="url " href="<%= read.url %>"><%= read.url %></a></p>
        <a class="id"><%= read.id %></a>
        <p><a class="title"><%= read.title %></a></p>
        <p><%= read.read %></p>
        <% if read.read == true %>
          <button id="<%= read.id %>" class="mark-read">Mark as Unread</button>
        <% else %>
          <button id="<%= read.id %>" class="mark-read">Mark as Read</button>
        <% end %>
        <button id="<%= read.id %>" class='edit-link-button'>Edit</button>
        <button class='delete-link'>Delete</button>
    </li>
<% end %>
</ol>
